.profile {
  margin: 30px auto;
  width: 300px;
  font-size: 15px;
  text-align: center;
  background-color: rgb(188, 235, 224);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description {
  padding: 30px;
}

.avatar {
  width: 50%;
  border-radius: 50%;
  background-color: #fff;
}

.name {
  font-size: 17px;
  font-weight: bold;
  margin: 15px 0;
}

.tag {
  color: grey;
  margin-bottom: 10px;
}

.location {
  color: grey;
}

.stats {
  display: flex;
  border: 2px solid lightgray;
  background-color: rgb(191, 186, 243);
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  text-align: center;
  padding: 10px 0;
}

.item:not(:last-child) {
  border-right: 2px solid lightgray;
}

.label {
  color: grey;
  margin-bottom: 8px;
}

.quantity {
  font-weight: bold;
}
